body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6; /* Fondo gris muy suave */
    color: #333; /* Texto principal oscuro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    width: 85%;
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    line-height: 1.6;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
    font-size: 0.9em;
    color: #7f8c8d;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    text-align: center;
}

.galeria img{
     width: 500px;
    height: 500px;
    object-fit: cover;
}
